/* --mobile: 767px;
--tablet-portrait: 991px;
--tablet-landscape: 1199px;
--desktop: 1200px; */

.container {
  max-width: 100%;
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

/* Tablet Portrait styles */
@media screen and (min-width: 767px) and (max-width: 991px) {
}

/* Tablet Landscape styles */
@media screen and (min-width: 991px) and (max-width: 1379px) {
}

/* Desktop styles */
@media screen and (min-width: 1380px) {
  .container {
    max-width: 1380px;
    padding-inline: 24px;
  }
}
