@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Urbanist", sans-serif;
}

span,
div,
a,
small {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
}

h2 {
  font-size: 28px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.4;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

h5 {
  font-size: 18px;
  line-height: 1.6;
}

h6 {
  font-size: 16px;
  line-height: 1.7;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px; /* Adjust spacing between paragraphs */
}
