---

---

<header class="flex items-center justify-between py-6">
  <div>
    <span class="font-bold text-3xl">AMER.</span>
  </div>
  <nav>
    <ul class="flex items-center gap-4 font-medium">
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        Home
      </li>
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        About
      </li>
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        Services
      </li>
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        Resume
      </li>
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        Projects
      </li>
      <li
        class="cursor-pointer text-slate-500 hover:text-slate-900 after:bg-transparent hover:after:bg-slate-900 after:absolute after:h-0.5 after:w-full after:-bottom-2 after:left-0 relative"
      >
        Contact
      </li>
    </ul>
  </nav>
</header>
