---

---

<style is:inline>
  .text-stroke {
    -webkit-text-stroke: 1.5px #0f172a;
  }
</style>
<section
  class="bg-slate-200 h-[460px] w-full rounded-2xl flex items-center justify-center flex-col gap-4"
>
  <h1 class="uppercase text-8xl font-semibold">
    I'm <span class="text-transparent text-stroke">Amer</span> Azmi
  </h1>
  <div class="bg-slate-50 px-6 py-3 flex items-center gap-8 text-gray-500">
    <span
      class="relative after:absolute after:w-1.5 after:h-1.5 after:bg-slate-300 after:top-1/2 after:-translate-y-1/2 after:-right-5 after:rounded-full"
      >Front-End Developer</span
    >
    <span
      class="relative after:absolute after:w-1.5 after:h-1.5 after:bg-slate-300 after:top-1/2 after:-translate-y-1/2 after:-right-5 after:rounded-full"
      >NextJS Developer</span
    >
    <span class="relative">ReactJS Developer</span>
  </div>
</section>
