---
import "@fontsource-variable/syne";
import Header from "./header.astro";

interface Props {
  title?: string;
}

const { title = "Amer | Welcome to my portfolio" } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-[1380px] mx-auto text-slate-900 px-6">
    <Header />
    <slot />
  </body>
</html>
